html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {

  justify-content: center;
  align-items: center;
  margin: 0;
  display: flexbox;
}

.main{
  margin: 0 auto;
}


input[type="radio"] {
  display: none;
  
} 

input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

input[type="radio"] + label span {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  
}


input[type="radio"] + label span img {
  width: 30px;
  opacity: 0;
  position: relative;
  top:-10px;
  
} 

input[type="radio"]:checked + label span img {
  opacity: 1;
}

#submit-button{
  margin-top:30px;
}

.banner-img{
  width:500px;
}

.banner{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  
}

.description-wrap{
  width:500px;
  margin-left: auto;
  margin-right: auto;
  padding:20px 0 20px 0;
}

.description{
  color:darkgreen;
  text-align: center;
  font-family: 'Courier New', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

#form-wrap{
  background-image:url("../images/background.jpg");
  width:500px;
  margin-left: auto;
  margin-right: auto; 
}

#form-title{
  font-size: 33px;
  text-align: center;
  font-family: 'Courier New', 'Arial Narrow', Arial, sans-serif;
  padding:15px 0 15px 0;
}

#title-wrap{
  width:400px;
  margin:auto;
}

#submit-button{
  width:150px;
  height:50px;
 
}

#button-s{
  padding-bottom:25px;
}

#selections{
  margin-left:20px;
}
.cheers-wrap{
  width:500px;
  margin-top:30px;
  margin-left: auto;
  margin-right: auto;
  
}

.cheers{
  font-family: 'Courier New', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  padding:20px 0 20px 0;
}

.line{
  border-top: 1px solid #8c8b8b;
}

.centre{
  text-align: center;
}

.container{
  margin-right:0;
}

.info{
  padding:20px 0 20px 0;
}


@media only screen and (max-width: 550px) {
  .banner-img{
    width:300px;
  }
  .banner{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    
  }
  .description-wrap{
    width:300px;
    margin-left: auto;
    margin-right: auto;
  }
  .description{
    font-size: 18px;
  }
  #form-wrap{
    width:300px;
    margin-left: auto;
    margin-right: auto;  
  }
  #title-wrap{
    width:300px;
    margin:auto;
  }
  
  #form-title{
    font-size: 23px;
    text-align: center;
    font-family: 'Courier New', 'Arial Narrow', Arial, sans-serif;
  }
  .cheers-wrap{
    width:300px;
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .cheers{
    font-family: 'Courier New', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
  }

  
}

.thankyou{
  font-family: 'Courier New', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  text-align: center;
}

.thankyou-wrap{
  width:300px;
    margin:auto;
    padding-bottom: 1px;
}